<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />

        <codeBase version="10.0.0.0" href="DLL\Newtonsoft.Json\10_0_3_21018\Newtonsoft.Json.dll" />
        <codeBase version="11.0.0.0" href="DLL\Newtonsoft.Json\11_0_2_21924\Newtonsoft.Json.dll" />        
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
